<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.higheraltitude.prizm"
    android:versionCode="1"
    android:versionName="1.0(2)" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="co.higheraltitude.prizm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/prizmappicon"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashActivity"
            android:label="Prizm"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:parentActivityName=".Registration"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmRegistrationTheme" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmBlue" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e70b092ac5acf46c6e8a86bc59e79c34df550f5f" />

        <activity
            android:name=".MainActivity"
            android:label="Prizm"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmRegistrationTheme" >
>
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmRegistrationTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.higheraltitude.prizm.MainActivity" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:exported="true" />

        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".Registration"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmRegistrationTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.higheraltitude.prizm.Registration" />
        </activity>
        <activity
            android:name=".MessageGroupsActivity"
            android:label="@string/title_activity_message_groups"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmBlue" >
        </activity>
        <activity
            android:name=".ReadMessagesActivity"
            android:label="@string/title_activity_read_messages"
            android:parentActivityName=".MessageGroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmTheme"
            android:windowSoftInputMode="stateUnchanged" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.higheraltitude.prizm.MessageGroupsActivity" />
        </activity>
        <activity
            android:name=".FullScreenImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_full_screen_image"
            android:parentActivityName=".ReadMessagesActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.higheraltitude.prizm.ReadMessagesActivity" />
        </activity>
        <activity
            android:name=".DirectPickerActivity"
            android:label="@string/title_activity_direct_picker"
            android:parentActivityName=".MessageGroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.higheraltitude.prizm.MessageGroupsActivity" />
        </activity>
        <activity
            android:name=".DirectSelectorActivity"
            android:label="@string/title_activity_direct_selector"
            android:parentActivityName=".MessageGroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".NewGroupActivity"
            android:label="@string/title_activity_new_group"
            android:parentActivityName=".MessageGroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmTheme" >
        </activity>
        <activity
            android:name=".EditGroupActivity"
            android:label="@string/title_activity_edit_group"
            android:parentActivityName=".ReadMessagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.higheraltitude.prizm.ReadMessagesActivity" />
        </activity>
        <activity
            android:name=".ViewMembersActivity"
            android:label="@string/title_activity_view_members"
            android:parentActivityName=".ReadMessagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmBlue" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.higheraltitude.prizm.ReadMessagesActivity" />
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="gcm.play.android.samples.com.gcmquickstart" />
            </intent-filter>
        </receiver>

        <service
            android:name=".messaging.PrizmGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".messaging.PrizmInstanceIdListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".messaging.RegistrationIntentService"
            android:exported="false" >
        </service>
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmBlue" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MessageReaders"
            android:label="Viewers"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmBlue" >
        </activity>
        <activity
            android:name=".LikesActivity"
            android:label="Likes"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmBlue" >
        </activity>
        <activity android:name=".EditProfile" >
        </activity>
        <activity
            android:name=".InterestsActivity"
            android:label="Interests"
            android:screenOrientation="portrait"
            android:theme="@style/PrizmBlue" >
        </activity>
    </application>

</manifest>
